h4{
  color: #263238;
}
.intro{
  margin: auto;
  display: block;
  font-weight: bolder;
}

.well{
  background: #212121;
  color: #fff;
  border: 1px solid #212121;
  border-radius: 0;
  margin-bottom: 0;
}

.address{
  font-size: 14px;
}

.address i{
  line-height: 3;
}

.activeNav{
  color: #555!important;
  background: #e7e7e7!important;
}

.content{
  background: #F5F5F5;
  min-height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav{
  margin-top: 8px;
}

.panel{
  margin: 8px 0;
}

.project{
  border: 1px #CFD8DC solid;
  min-height: 250px;
  padding: 0px 8px;
  margin: 5px 0;
  background: #F5F5F5;
}

.project:hover{
  cursor: pointer;
}

.project h3, .academic h3{
  color: #004D40;
  font-weight: bolder;
}

.tech-used span{
  margin: 0px 1px;
  position: relative;
  bottom: 0;

}

.academic{
  margin: 5px 0;
  background: #F5F5F5;
  border: 1px #CFD8DC solid;
}

.academic img{
  margin: 5px;
}

.page-header h1{
  margin:0 0.1rem;
}

.live-link{
  cursor: pointer;
}

.skill{
  padding: 5px;
  margin: 5px;
  min-width: 15%;
}

.tools li p{
  font-weight: bold;
  color: #004D40;
}

.page-header{
  margin: 1rem 0;
}

.tags{
  margin:4px;
}

.achievement h3{
  text-align: center;
  margin-bottom: 3rem;
}
